<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="card.css" />
    <link rel="stylesheet" href="/src/styles/css/style.css" />
    <script defer src="card.js"></script>
  </head>
  <body>
    <!-- Card -->
    <div class="wrapper">
      <header></header>
      <main class="content">
        <div class="container-cards">
          <!-- <div class="circle"><h6>new</h6></div> -->
        </div>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
