<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="card.css" />
    <link rel="stylesheet" href="/src/styles/css/style.css" />
    <script type="module" defer src="/src/js/header-footer.js"></script>
    <script defer src="card.js"></script>
  </head>
  <body>
    <!-- Card Component -->
    <div class="wrapper">
      <header class="header"></header>
      <main class="content">
        <div class="container-cards"></div>
        <!--  Container Cards, I insert article tag, generate in card.js  -->
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>

<!-- 
  
  Card structure:

    <article class="card">
      <img>
      <h5>лучший день</h5>
      <small>167.000 ₽</small>
      <button>В корзину</button>
      <div class="circle circle-new"></div>
      // circle , optionally paste in card
    </article>

    -->
