@import "_mixin.scss";

.title {
  // &_h1 {
  //   font-family: "Cormorant";
  //   font-weight: 300;
  //   font-size: 50px;
  //   line-height: 61px;
  //   letter-spacing: 0.2em;
  //   color: #ffffff;
  //   font-style: normal;
  //   text-transform: uppercase;

  //   @media (min-width: 768px) {
  //     font-size: 200px;
  //     line-height: 242px;
  //   }
  // }

  // &_h2 {
  //   font-family: "Cormorant";
  //   font-weight: 400;
  //   font-size: 40px;
  //   line-height: 48px;
  //   letter-spacing: 0.02em;
  //   color: #ffffff;
  //   font-style: normal;
  //   text-transform: uppercase;

  //   @media (min-width: 768px) {
  //     font-size: 100px;
  //     line-height: 121px;
  //   }
  // }

  &_h3_green {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #43ffd2;
    font-style: normal;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 44px;
    }
  }

  &_h3_pink {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #d978ac;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 44px;
    }
  }
}

.text {
  // &_subtitle {
  //   font-family: "Oswald";
  //   font-style: normal;
  //   font-weight: 300;
  //   font-size: 14px;
  //   line-height: 21px;
  //   letter-spacing: 0.04em;
  //   color: #ffffff;

  //   @media (min-width: 768px) {
  //     font-size: 20px;
  //     line-height: 26px;
  //   }
  // }

  &_subtitle_upper {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  // &_subtitle_upper_pink {
  //   font-family: "Oswald";
  //   font-style: normal;
  //   font-weight: 700;
  //   font-size: 12px;
  //   line-height: 18px;
  //   letter-spacing: 0.1em;
  //   text-decoration-line: underline;
  //   text-transform: uppercase;
  //   color: #d978ac;

  //   @media (min-width: 768px) {
  //     font-size: 12px;
  //     line-height: 18px;
  //   }
  // }
}

.btn {
  &_1_black {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }

  &_2_white {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &_3_blue {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #43ffd2;
  }

  &_h4_black {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #555555;
  }
}

.footer {
  &_p_upper {
    font-family: "Oswald";
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  &_2_upper {
    font-family: "Oswald";
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}
