@charset "UTF-8";
/*

<button class="button__[название кнопки] button__[название кнопки]-disabled">
    <span class="spinner"></span>
        [Текст кнопки]
</button>

Я назвал их собственно по тому, как они указаны UI kit
Кнопка "Смотреть каталог" имеет класс button__catalog
Кнопка "В корзину" имеет класс button__basket

Кнопки есть двух видов по ширине: 220рх и 255рх
Так же они различаются по оформлению и поведению
С данными классами работает свойство :hover и :active

Если необходимо перевести кнопкку в состояние Progress или Disabled, 
то надо добавить соответствующий класс-модификатор к классу данной кнопки
button__[название кнопки]-disabled
button__[название кнопки]-progress

Предусмотрен вариант работы как с тегом <div>, так и с тегом <button>
С тегом <input> данная кнопка не работает. Пока... Может выйдет вторая версия...

Тег <span> добавлен для отображения анимации спиннера прогресса


КЛАССЫ ДЛЯ ШРИФТОВ CORMORANT
h1-cormorant-200-50
h2-cormorant-100-40
cormorant-60-20
cormorant-40-20

По шрифтам выделил только шрифт Cormorant, у него есть изменения по размеру и line-height.
В стилях прописаны полностью все стили для данных шрифтов. Эти шрифты используются для заголовков.
В несолких местах будет необходимость только переопределить цвет шрифта.
Применён миксин для адаптивного изменения размера и line-height у данных шрифтов.
Соответственно, при назначении данного стиля к заголовку - адаптив для него делать уже не надо.

Остальные шрифты изменяются по разному, к ним общих стилей не применить. Основной шрифт Oswald 
вообще практически не меняется с адаптивом. 

*/
/* Шрифты */
.cormorant-40-20 {
  font-size: calc(20px + (40 - 20) * (100vw - 320px)/(1130 - 320));
  line-height: calc(24px + (48 - 24) * (100vw - 320px)/(1130 - 320));
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1130px) {
  .cormorant-40-20 {
    font-size: 40px;
  }
}
@media (min-width: 1130px) {
  .cormorant-40-20 {
    line-height: 48px;
  }
}

.cormorant-60-20 {
  font-size: calc(20px + (60 - 20) * (100vw - 320px)/(1130 - 320));
  line-height: calc(24px + (64 - 24) * (100vw - 320px)/(1130 - 320));
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1130px) {
  .cormorant-60-20 {
    font-size: 60px;
  }
}
@media (min-width: 1130px) {
  .cormorant-60-20 {
    line-height: 64px;
  }
}

.h2-cormorant-100-40 {
  font-size: calc(40px + (100 - 40) * (100vw - 320px)/(1130 - 320));
  line-height: calc(48px + (121 - 48) * (100vw - 320px)/(1130 - 320));
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1130px) {
  .h2-cormorant-100-40 {
    font-size: 100px;
  }
}
@media (min-width: 1130px) {
  .h2-cormorant-100-40 {
    line-height: 121px;
  }
}

.h1-cormorant-200-50 {
  font-size: calc(50px + (200 - 50) * (100vw - 320px)/(1130 - 320));
  line-height: calc(61px + (242 - 61) * (100vw - 320px)/(1130 - 320));
  letter-spacing: calc(0.1px + (0.2 - 0.1) * (100vw - 320px)/(1130 - 320));
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1130px) {
  .h1-cormorant-200-50 {
    font-size: 200px;
  }
}
@media (min-width: 1130px) {
  .h1-cormorant-200-50 {
    line-height: 242px;
  }
}
@media (min-width: 1130px) {
  .h1-cormorant-200-50 {
    letter-spacing: 0.2px;
  }
}

/* Кнопки серии Смотреть каталог */
.button__catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background-color: #43ffd2;
  color: #040a0a;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button__catalog:hover {
  color: #fff;
  background-color: #7d2253;
}
.button__catalog:active {
  background-color: #7d2253;
  box-shadow: inset 0px 0px 10px #1b000e;
  border-radius: 3px;
}
.button__catalog.button__catalog-disabled {
  border: 1px solid #555555;
  color: #555555;
  background-color: rgba(4, 10, 10, 0);
  cursor: help;
}
.button__catalog.button__catalog-progress {
  position: relative;
  cursor: progress;
}
.button__catalog.button__catalog-progress:hover, .button__catalog.button__catalog-progress:active {
  color: #040a0a;
  background-color: #43ffd2;
  box-shadow: inherit;
  border-radius: inherit;
  border: inherit;
}
.button__catalog.button__catalog-progress > span {
  position: absolute;
  top: 19px;
  left: 40px;
  width: 12px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 0 70%, rgb(0, 0, 0) 0) 50%/8% 100%, linear-gradient(90deg, rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0) 0 70%, rgba(0, 0, 0, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: spinnerAnimation 1s infinite steps(12);
}
.button__catalog.button__catalog-progress .spinner::before,
.button__catalog.button__catalog-progress .spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.button__catalog.button__catalog-progress .spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes spinnerAnimation {
  100% {
    transform: rotate(1turn);
  }
}

/* Кнопки серии Корзина */
.button__basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 50px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background-color: #040a0a;
  color: #fff;
  border: 0.5px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button__basket:hover {
  color: #040a09;
  background-color: #43ffd2;
  border: 0.5px solid #43ffd2;
}
.button__basket:active {
  background-color: #43ffd2;
  border: 0.5px solid #01281f;
  box-shadow: inset 0px 0px 10px #01281f;
  border-radius: 3px;
}
.button__basket.button__basket-disabled {
  border: 1px solid #555555;
  color: #555555;
  background-color: rgba(4, 10, 10, 0);
  cursor: help;
}
.button__basket.button__basket-progress {
  position: relative;
  cursor: progress;
}
.button__basket.button__basket-progress:hover, .button__basket.button__basket-progress:active {
  color: #fff;
  background-color: #040a0a;
  border: 0.5px solid #ffffff;
  box-shadow: inherit;
  border-radius: inherit;
}
.button__basket.button__basket-progress > span {
  position: absolute;
  top: 18px;
  left: 75px;
  width: 12px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 0 70%, rgb(255, 255, 255) 0) 50%/8% 100%, linear-gradient(90deg, rgba(255, 255, 255, 0.25) 30%, rgba(255, 255, 255, 0) 0 70%, rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: spinnerAnimation 1s infinite steps(12);
}
.button__basket.button__basket-progress .spinner::before,
.button__basket.button__basket-progress .spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.button__basket.button__basket-progress .spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes spinnerAnimation {
  100% {
    transform: rotate(1turn);
  }
}/*# sourceMappingURL=buttons_fontsize.css.map */