.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px;
}

.cormorant_regular {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #ffffff;
}

.oswald_regular {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
}

.oswald_light {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #ffffff;
}

.oswald_bold {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #ffffff;
}

.cormorant_light {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 300;
    font-size: 200px;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #ffffff;
}

.relative {
    font-family: "Relative";
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 70px;
    /* identical to box height, or 44% */

    text-transform: capitalize;

    color: #d978ac;

    transform: rotate(-14.17deg);
}

.suisse {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;

    color: #ffffff;
}

.roboto {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.02em;

    color: #ffffff;
}
