@import '../../fonts/Oswald/stylesheet.css';
@import '../../fonts/Cormorant/stylesheet.css';
@import '../../fonts/Relative/stylesheet.css';
@import '../../fonts/Roboto Condensed/stylesheet.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

address {
  font-style: normal;
}

input, button, textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

input, button, a {
  color: inherit;
  cursor: pointer;
}

select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.title_h3_green {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #43ffd2;
  font-style: normal;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title_h3_green {
    font-size: 30px;
    line-height: 44px;
  }
}
.title_h3_pink {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #d978ac;
}
@media (min-width: 768px) {
  .title_h3_pink {
    font-size: 30px;
    line-height: 44px;
  }
}

.text_subtitle_upper {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .text_subtitle_upper {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn_1_black {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.btn_2_white {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn_3_blue {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: #43ffd2;
}
.btn_h4_black {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #555555;
}

.footer_p_upper {
  font-family: "Oswald";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer_2_upper {
  font-family: "Oswald";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Oswald";
  background: #040A0A;
  color: #FFFFFF;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */