html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* ul[class],
ol[class] {
    padding: 0;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
/* ul[class], */
/* ol[class],
li, */
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul li {
    list-style: disc;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}


body {
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    color: #FFFFFF;
    background: #040A0A;
}
.footer__description-list li,
.header__soc-links li {
      list-style: none;
}

.ruby_bred_crumbs::before {
    content: "";
    position: absolute;
    top: -42px;
    left: -334px;
    border-radius: 576px;
    background-color: #7D2253;
    filter: blur(75px);
    transform: rotate(32deg);
    z-index: -1;
    width: 576px;
    height: 89px;
}

.ruby_bred_crumbs {
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

.ruby_bred_crumbs::after {
    content: "";
    position: absolute;
    top: -123px;
    right: -78px;
    border-radius: 217px;
    background-color: #43FFD2;
    filter: blur(125px);
    transform: rotate(-72deg);
    z-index: -1;
    width: 217px;
    height: 173px;
}


ul.ruby_crumbs-list {
    display: flex;
    max-width: 300px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

li.ruby_crumbs-item {
    list-style: none;
    display: flex;

}

li.ruby_crumbs-item a {
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #FFFFFF;
}

li.ruby_crumbs-item:not(:last-child):after {
    content: "/";
    margin: 0 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}

.ruby__content::before {
    content: "";
    position: absolute;
    bottom: -158px;
    right: -42px;
    border-radius: 188px;
    background-color: #7D2253;
    filter: blur(50px);
    transform: rotate(32deg);
    z-index: -1;
    width: 188px;
    height: 193px;
}

.ruby__content {
    position: relative;
    z-index: 1;
}

.ruby__content::after {
    content: "";
    position: absolute;
    bottom: -156px;
    left: -132px;
    border-radius: 258px;
    background-color: #43FFD2;
    filter: blur(50px);
    transform: rotate(22deg);
    z-index: -1;
    width: 258px;
    height: 106px;
}

.ruby_link {
    margin-top: 20px;
    margin-left: 17px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ruby__description {
    margin-bottom: 832px;
}

.ruby__content-addition::before {
    content: "";
    position: absolute;
    bottom: -16px;
    right: -255px;
    border-radius: 560px;
    background-color: #7D2253;
    filter: blur(125px);
    transform: rotate(22deg);
    z-index: -2;
    width: 560px;
    height: 255px;
}

.ruby__content-addition {
    position: relative;
    z-index: 1;
}

.ruby__content-addition::after {
    content: "";
    position: absolute;
    bottom: 292px;
    left: -40px;
    border-radius: 217px;
    background-color: #43FFD2;
    filter: blur(125px);
    transform: rotate(-72deg);
    z-index: -2;
    width: 217px;
    height: 173px;
}

.ruby__content-title {
    color: #D978AC;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.addition-title::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -32px;
    border-radius: 560px;
    background-color: #7D2253;
    filter: blur(125px);
    transform: rotate(22deg);
    z-index: -1;
    width: 560px;
    height: 255px;
}

.addition-title {
    color: #D978AC;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;


}

.ruby__content-addition {
    margin-bottom: 70px;

}

.ruby__content-addition-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ruby__content-addition-item {
    padding: 30px 19px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(197, 16, 16, 0.3);
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
}

.ruby__content-addition-title {
    max-width: 155px;
    color: #43FFD2;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.ruby__content-addition-subtitle {
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: center;

}



.ruby__content-ruby-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 300px;
    height: 1px;
    background-color: #555555;
}

.ruby__content-ruby-link.active-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 150px;
    height: 3px;
    background-color: #43FFD2;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.ruby__content-ruby-link.reviews-link.active-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 150px;
    height: 3px;
    background-color: #43FFD2;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.ruby__content-ruby-inner {
    margin-bottom: 36px;
    display: flex;
    gap: 50px;
    position: relative;
}

.ruby__content-ruby-link {
    color: #555;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.active-link {
    color: #43FFD2;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
    margin-left: 7px;
}

ul.ruby__content-ruby-lists {
    padding: 0 15px;
    margin-bottom: 30px;
}

li.ruby__content-ruby-item {
    margin-bottom: 10px;
}

ul.ruby__content-cost_of_delivery-list {
    margin-bottom: 40px;
    padding-left: 16px;
}

li.ruby__content-cost_of_delivery-item {
    margin-bottom: 10px;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.ruby__content-cost_of_delivery-item span,
.ruby__content-delivery_terms-item span,
.ruby__content-additionally a {
    color: #43FFD2;
}

.ruby__content-cost_of_delivery-item a {
    color: #FFFFFF;
    font-weight: 700;
}

.ruby__content-reviews-title {
    color: #43FFD2;
    font-weight: 400;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    max-width: 255px;
    margin-bottom: 10px;
}

.ruby__content-reviews-subtitle {
    max-width: 255px;
    font-weight: 400;
    margin-bottom: 30px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 16px 0;
    position: relative;

}

.group::after {
    content: "";
    display: block;
    width: 336px;
    ;
    opacity: 0.48;
    border: 1px solid #8989A2;
    position: absolute;
    top: 66px;

}

.form-star {
    margin-bottom: 20px;
}

.form-group_help {
    color: #FFF;
    font-weight: 400;

}

.star-rating {
    font-size: 0;
    margin-top: 4px;
}

.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}

.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}

.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFFFFF;
}

.star-rating__ico:last-child {
    padding-left: 0;
}

.star-rating__input {
    display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover~.star-rating__ico:before,
.star-rating__input:checked~.star-rating__ico:before {
    content: "\f005";
}

.form input,
.form textarea {
    display: block;
    border: 1px solid #555555;
    width: 100%;
    padding: 19px 0 20px 19px;
    margin-bottom: 45px;
    cursor: pointer;
}

.form input::placeholder,
.form textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #555555;
}

.form input:hover::placeholder,
.form textarea:hover::placeholder {
    color: #FFFFFF;
}

.form input:focus,
.form textarea:focus {
    box-shadow: 0px 0px 0px 3px rgba(115, 25, 25, 0.5);
    outline: none;
}

.form textarea {
    padding: 19px 0 80px 20px;
    resize: none;
    margin-bottom: 45px;
    color: #f7f2f2;
}

.form button {
    width: 255px;
    margin-bottom: 10px;
}

.form p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    max-width: 235px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-bottom: 100px;
    margin-top: 10px;
}

.form a {
    text-decoration-line: underline;
    color: #D978AC;
}

label {
    font-weight: 400;

}

.ruby__content-delivery_terms {
    margin-bottom: 100px;
}

.ruby__content-delivery_terms-item {
    text-transform: uppercase;
}